.layout {
  display: flex;
  height: 100vh;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #32324b, #151521);
  color: #fff;
  transition: width 0.5s ease;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.collapsed {
  width: 72px;
  transition: width 0.5s;

  .navItem {
    position: relative;
    justify-content: center;
  }

  &~.main {
    margin-left: 72px;
    transition: margin-left 0.5s;
  }

  .logoArea {
    justify-content: center;
    gap: 0;
  }
}

.logoLink {
  text-decoration: none;
  color: #eff0f7;
}

.logoArea {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  justify-content: flex-start;
  gap: 0.75rem;
  overflow: hidden;
  transition: justify-content 0.3s ease;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06); // soft shadow
}

.logo {
  width: 32px;
  height: 32px;
}

.logoText {
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;

  max-width: 200px;
  opacity: 1;
  transform: translateX(0);

  transition:
    max-width 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease;

  &.hidden {
    max-width: 0;
    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #cfd3ff;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
  }
}

.main {
  margin-left: 240px;
  transition: margin-left 0.5s;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f6fa;
}

.topbar {
  height: 56px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.toggleBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  &:hover {
    background: #f0f0f0;
  }
}

.content {
  padding: 1.5rem;
  overflow-y: auto;
  flex: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background: #fff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}