.alumniGridContainer {
  display: flex;
  flex-wrap: wrap;
}

.alumniGrid_item {
  flex: 1 0 18%;
  margin: 5px;
  height: 100px;
  background-color: rgb(233, 224, 224);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.alumniGrid_item {
  width: 100%;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 110px auto;
}

.alumniGrid_item:hover {
  background-color: rgb(196, 193, 193);
  cursor: pointer;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.alumniName {
  margin: 0;
  font-size: 18px;
  color: rgb(53, 53, 53);
}

.batchName, .email, .phone {
  margin: 0;
}