.infoHeader {
  color:rgb(100, 99, 99);
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 0.2px dashed rgb(212, 212, 212);
}

.rounded-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
}