.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
}

.footer {
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000cb;
}

.footerContent {
  height: 40%;
}