.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 200px auto;
}

.sidebar {
  grid-area: "sidebar";
  height: 100vh;
  background-color: gray;
  padding: 0 10px;
}

.content {
  grid-area: content;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  padding: 0 10px;
}