.carouselInfo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: rgba(58, 57, 57, 0.527);
    text-align: left;
    padding: 10px;
    margin-left: auto;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 25px;
}

.content {
  color: rgb(233, 222, 222);
  font-weight: 400;
  font-size: 18px;
}

.carouselItem {
  max-height: 600px;
}